MONGODB_URI=mongodb://localhost:27017/chatdb
RABBITMQ_URI=[REDACTED_CREDENTIAL_URL]
JWT_KEY=YOUR_TOKEN_KEY
LOG_LEVEL=debug
FIREBASE_PRIVATE_KEY="[REDACTED_PRIVATE_KEY]\n"
FIREBASE_APIKEY=
REDACTED_SECRET
FIREBASE_CLIENT_EMAIL=
WEB_CLICK_ACTION="https://support-pre.tiledesk.com/chat-ionic5/"
MOBILE_CLICK_ACTION="NEW_MESSAGE"
_KEY_PEM=sslcert/key.pem
_CERT_PEM=sslcert/cert.pem
PUSH_WH_WEBHOOK_TOKEN=WHFyAhecCMkYsvldLFWbSrJt7lAZFAmrp7O5QVMvGQsLVn9SkfT-RR
PUSH_WH_CHAT21_API_ADMIN_TOKEN=
PUSH_WH_NOTIFY_URL=
PUSH_ENABLED=
CONTACTS_LOOKUP_ENDPOINT=
REDIS_HOST=redis-17533.c135.eu-central-1-1.ec2.cloud.redislabs.com
REDIS_PASSWORD=
REDACTED_SECRET
CACHE_ENABLED=true